

body{
    background-color: #CCC4A8;
}


 .header{

     text-align:center;
     margin: 20px;

 }

.button{
       background-color: #274659;
}

 /***style of my buttons***/
#input.button:hover {
    width: 100px;
    margin-left: 50px;
    float: none;
    position:absolute;
    display: inline-block;

}
/***style of my register****/
.reg{
    width: 400px;
    margin: 0 auto;
    position: inherit;
    top: 10px;
}

li{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 350px;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 350px;
}
span{
    color: red;
}